# C3.AI Covid Challenge
## _Data Science Project 
### Author: 

##### Team BUK
    - Vrisha Parekh (https://www.linkedin.com/in/vrisha-parekh-72a630131/)
    - Sreetam Dev (https://www.linkedin.com/in/sreetam-dev-b76530143/)

### Dataset

The two datasets involved in this analysis are the timeseries data from Corona Data Scrapper and Covid-19 Dat Hub.

### Associated tasks
=========================================

Analyse and generate insights from the Corona Data Scrapper data and data from COVID-19 data hub by fetching the dataset from the C3.AI COVID-19 datalake.

### Table of Contents


- **1.  Loading libraries**

- **2.  Exploring the data**

    - *2.1  Setting DateTimeIndex*
   
- **3.Loading the data from Covid-19 Data Hub**
    - 3.1 Setting DateTime index

#### 1. Loading Libraries

In [28]:
import requests
import pandas as pd
from matplotlib import pyplot as plt
from scipy.stats import gamma
import numpy as np
import datetime
import c3aidatalake

#### 2. Exploring the data

In [29]:
#Loading the timeseries data from Corona Data Scrapper, https://coronadatascraper.com/#home
tsData=pd.read_csv('timeseries.csv',low_memory=False)
tsData.head()

,locationID,slug,name,level,city,county,state,country,lat,long,...,deaths,recovered,active,tested,hospitalized,hospitalized_current,discharged,icu,icu_current,date
0,iso1:ad,ad,Andorra,country,NaN,NaN,NaN,Andorra,42.55,1.58,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22
1,iso1:ad,ad,Andorra,country,NaN,NaN,NaN,Andorra,42.55,1.58,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-23
2,iso1:ad,ad,Andorra,country,NaN,NaN,NaN,Andorra,42.55,1.58,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-24
3,iso1:ad,ad,Andorra,country,NaN,NaN,NaN,Andorra,42.55,1.58,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-25
4,iso1:ad,ad,Andorra,country,NaN,NaN,NaN,Andorra,42.55,1.58,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-26

In [30]:
#Shape of the data
tsData.shape

(1089472, 24)

In [31]:
# Viewing the data types
tsData.dtypes

locationID               object
slug                     object
name                     object
level                    object
city                    float64
county                   object
state                    object
country                  object
lat                     float64
long                    float64
population                int64
aggregate               float64
tz                       object
cases                   float64
deaths                  float64
recovered               float64
active                  float64
tested                  float64
hospitalized            float64
hospitalized_current    float64
discharged              float64
icu                     float64
icu_current             float64
date                     object
dtype: object

In [32]:
#Viewing the stats.
tsData.describe()

,city,lat,long,population,aggregate,cases,deaths,recovered,active,tested,hospitalized,hospitalized_current,discharged,icu,icu_current
count,0.0,1.089472e+06,1.089472e+06,1.089472e+06,0.0,1.056093e+06,991731.000000,1.635290e+05,1.891600e+04,1.197890e+05,84434.000000,24468.000000,23993.000000,4091.00000,7641.000000
mean,NaN,3.725291e+01,-6.717616e+01,3.491560e+06,NaN,4.647560e+03,193.180072,1.263751e+04,6.108950e+03,1.545152e+05,1602.166994,612.367133,1585.846247,1119.74065,376.035859
std,NaN,1.156727e+01,5.424743e+01,3.454774e+07,NaN,7.789622e+04,2653.600975,1.141283e+05,4.871407e+04,1.622972e+06,12681.769974,3784.415190,5639.696090,2452.77432,1382.645440
min,NaN,-4.358000e+01,-1.703700e+02,8.600000e+01,NaN,0.000000e+00,0.000000,-9.730000e+02,-2.000000e+00,0.000000e+00,-1.000000,0.000000,0.000000,0.00000,0.000000
25%,NaN,3.378000e+01,-9.618000e+01,1.220700e+04,NaN,1.000000e+00,0.000000,1.700000e+01,7.000000e+00,1.109000e+03,8.000000,2.000000,112.000000,97.00000,14.000000
50%,NaN,3.861000e+01,-8.570000e+01,3.656500e+04,NaN,3.100000e+01,0.000000,1.680000e+02,5.500000e+01,4.753000e+03,40.000000,22.000000,327.000000,346.00000,67.000000
75%,NaN,4.345000e+01,-7.377000e+01,2.350990e+05,NaN,3.340000e+02,9.000000,1.389000e+03,4.780000e+02,2.634000e+04,262.000000,205.000000,1092.000000,971.00000,209.000000
max,NaN,7.475000e+01,1.768200e+02,1.409517e+09,NaN,7.436919e+06,209984.000000,5.586703e+06,1.017754e+06,8.394907e+07,381926.000000,59940.000000,81788.000000,18322.00000,15130.000000

In [33]:
#Creating a list of the column names.
col_list=tsData.columns.to_list()

In [34]:
#Chceking the missing value percentage in each column.
for each in col_list:
    print(each,'-',(tsData[each].isna().sum()/len(tsData))*100)

locationID - 0.0
slug - 0.0
name - 0.0
level - 0.0
city - 100.0
county - 22.51191402807966
state - 6.0396228631851026
country - 0.0
lat - 0.0
long - 0.0
population - 0.0
aggregate - 100.0
tz - 0.0
cases - 3.0637776831345827
deaths - 8.971410004112084
recovered - 84.9900685836809
active - 98.26374610820653
tested - 89.00485739881337
hospitalized - 92.25000734300653
hospitalized_current - 97.75414145567761
discharged - 97.79774055689361
icu - 99.62449700405334
icu_current - 99.29865108970218
date - 0.0

In [35]:
#Dropping the non-necesary columns.

tsData.drop(['slug','city','aggregate','county','state','recovered','active','tested','hospitalized','hospitalized_current','discharged','icu','icu_current'],inplace=True,axis=1)

In [36]:
#Filtering the dataset to include results from Australia only.
tsDataAus=tsData[tsData['country']=='Australia']

#### 2.1 Setting DateTimeIndex

In [37]:
#Setting the DateTimeIndex
tsDataAus=tsDataAus.set_index('date')

#### 3. Loading the data from Covid-19 Data Hub

In [38]:
#Importing dataHub data, https://www.covid19data.com.au/
dataHubCases= pd.read_csv('COVID19_Data_Hub-Copy1.csv')

In [39]:
#Viewing the shape.
dataHubCases.shape

(2664, 16)

In [40]:
#Filtering the dataset to include the details of only the states and not national cases
dataHubCasesState=dataHubCases[dataHubCases['administrative_area_level']==2]

#### 3.1 Setting DateTime index

In [41]:
#Setting DateTime index
dataHubCasesState= dataHubCasesState.set_index('date')

In [42]:
#Printing the duplicate rows
print('Number of Duplicate records=',dataHubCasesState.duplicated().sum())

Number of Duplicate records= 350

In [43]:
#Dropping the duplicates.
dataHubCasesState.drop_duplicates(inplace=True)

In [44]:
#Adding the state abbrevaiation column to the timeseries data to merge them later.

list_names=list(tsDataAus['name'])

state_abb=[]

for each in list_names:
    if each == 'Australia':
        state_abb.append('Aus')
    if each == 'Australian Capital Territory, Australia':
        state_abb.append('ACT')
    if each == 'New South Wales, Australia':
        state_abb.append('NSW')
    if each == 'Queensland, Australia':
        state_abb.append('QLD')
    if each == 'South Australia, Australia':
        state_abb.append('SA')
    if each == 'Tasmania, Australia':
        state_abb.append('TAS')
    if each == 'Victoria, Australia':
        state_abb.append('VIC')
    if each == 'Western Australia, Australia':
        state_abb.append('WA')
    if each == 'Northern Territory, Australia':
        state_abb.append('NT')

In [45]:
#Adding the state abbreviation column to the timeseries data.
tsDataAus['state_abbr']= state_abb

In [46]:
#Dropping the non-required columns.
tsDataAus.drop(['cases', 'deaths','locationID','name'],inplace=True,axis=1)

In [47]:
# Uncomment the line below to export the DataFrame as a .csv file
#tsDataAus.to_csv("AusLatLong.csv")

In [48]:
#Dropping the non-required columns
dataHubCasesState.drop(['administrative_area_level',
       'administrative_area_level_1', 'administrative_area_level_2',
       'administrative_area_level_3', 'id'],inplace=True,axis=1)

In [49]:
#Fetching the lat and long for each state.

# ACT

avg_lat_ACT = np.average(tsDataAus[tsDataAus['state_abbr']=='ACT']['lat'])
avg_long_ACT =np.average(tsDataAus[tsDataAus['state_abbr']=='ACT']['long'])  

#NSW 

avg_lat_NSW = np.average(tsDataAus[tsDataAus['state_abbr']=='NSW']['lat'])
avg_long_NSW =np.average(tsDataAus[tsDataAus['state_abbr']=='NSW']['long'])  

#NT

avg_lat_NT = np.average(tsDataAus[tsDataAus['state_abbr']=='NT']['lat'])
avg_long_NT =np.average(tsDataAus[tsDataAus['state_abbr']=='NT']['long'])  

#QLD

avg_lat_QLD = np.average(tsDataAus[tsDataAus['state_abbr']=='QLD']['lat'])
avg_long_QLD =np.average(tsDataAus[tsDataAus['state_abbr']=='QLD']['long'])  

#SA

avg_lat_SA = np.average(tsDataAus[tsDataAus['state_abbr']=='SA']['lat'])
avg_long_SA =np.average(tsDataAus[tsDataAus['state_abbr']=='SA']['long']) 


#TAS

avg_lat_TAS = np.average(tsDataAus[tsDataAus['state_abbr']=='TAS']['lat'])
avg_long_TAS =np.average(tsDataAus[tsDataAus['state_abbr']=='TAS']['long']) 

#VIC

avg_lat_VIC = np.average(tsDataAus[tsDataAus['state_abbr']=='VIC']['lat'])
avg_long_VIC =np.average(tsDataAus[tsDataAus['state_abbr']=='VIC']['long']) 


#WA

avg_lat_WA = np.average(tsDataAus[tsDataAus['state_abbr']=='WA']['lat'])
avg_long_WA =np.average(tsDataAus[tsDataAus['state_abbr']=='WA']['long'])

In [50]:
#Creating two dictionaries.

dict_lat={}
dict_long={}

dict_lat = {'ACT':avg_lat_ACT, 'NT':avg_lat_NT, 'NSW':avg_lat_NT, 'QLD':avg_lat_QLD, 'SA':avg_lat_SA, 'TAS':avg_lat_TAS, 'VIC': avg_lat_VIC, 'WA':avg_lat_WA }
dict_long = {'ACT':avg_long_ACT, 'NT':avg_long_NT ,'NSW':avg_long_NT, 'QLD':avg_long_QLD, 'SA':avg_long_SA, 'TAS':avg_long_TAS, 'VIC': avg_long_VIC, 'WA':avg_long_WA }

In [51]:
#Adding the lat and long to the dataframe as per the state.

dataStateList=list(dataHubCasesState['state_abbrev'])
latList=[]
longList=[]

for each in dataStateList:
    if each == 'ACT':
        latList.append(dict_lat['ACT'])
        longList.append(dict_long['ACT'])
    if each == 'NSW':
        latList.append(dict_lat['NSW'])
        longList.append(dict_long['NSW'])
    if each == 'QLD':
        latList.append(dict_lat['QLD'])
        longList.append(dict_long['QLD'])
    if each == 'SA':
        latList.append(dict_lat['SA'])
        longList.append(dict_long['SA'])
    if each == 'TAS':
        latList.append(dict_lat['TAS'])
        longList.append(dict_long['TAS'])
    if each == 'VIC':
        latList.append(dict_lat['VIC'])
        longList.append(dict_long['VIC'])
    if each == 'WA':
        latList.append(dict_lat['WA'])
        longList.append(dict_long['WA'])
    if each == 'NT':
        latList.append(dict_lat['NT'])
        longList.append(dict_long['NT'])

In [52]:
#Assigning the values.
dataHubCasesState['lat']=latList
dataHubCasesState['long']=longList

In [53]:
# Uncomment the line below to export the DataFrame as a .csv file
dataHubCasesState.to_csv("StateLatLongCases.csv")